spring:
  application:
    name: runcode
  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  sql:
    init:
      mode: never
      encoding: UTF-8

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:validate}
    show-sql: show-sql: ${SPRING_JPA_SHOW_SQL:false}
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          kakao: # 카카오 OAuth 설정
            client-id: ${REST_API_KEY}
            client-name: kakao
            redirect-uri: "https://runcode.shop/login/oauth2/code/kakao" # 수정
            authorization-grant-type: authorization_code
            scope: profile_nickname,profile_image
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.hibernate.type.descriptor.sql: trace

jwt:
  issuer: demoday-runcode
  secret-key: "demoday-runcode-secret-key-2025-very-long-key"

cloud:
  aws:
    s3:
      bucket: runcode-bucket
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
